/*********** General **************/
body{
    background-color: black;
    color: grey!important;
}

.nwl_orange{
    color: #ff7800;
}

.titleBrand{
    color: #ff7800;
    font-size: 1.5rem;
}
a{
    color:grey;
}
a:hover{
    text-decoration: none;
    color: grey;
}

.btn-outline-success{
    color: #ff7800;
    border-color: #ff7800;
}
.btn-outline-success:hover{
    color: #fff;
    background-color: #ff7800;
    border-color: #ff7800;
}

/************ navbar *************/
nav div.navbar{
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    justify-content: start;
}
nav div.navbar a:hover,
nav div.navbar a.active{
    color:  #e1dddd;
}

.navbar form.deconnexion div{
    margin-right: 1rem;
}
.navbar form.deconnexion i{
    font-size: 1.5rem;
}
.navbar form.deconnexion div span{
    color: #e1dddd;
}

/********* Forms **********/

.basicForms{
    max-width: 500px;
    margin: 2rem 0;
}

.basicForms div{
    display: flex;
}

.basicForms div label{
    width: -moz-available;
}

div.nwl_submit_btn{
    justify-content: flex-end;
    padding-right: 2rem;
}


/*********** Search Results *********/

#search_results{
    display: grid;
    /*grid-template-columns: repeat(6, auto);*/
    /*grid-column-gap: 2rem;*/

    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    grid-gap: 2rem 2rem;
}

.movieElt{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 1rem;
}
.movieElt:hover{
    cursor: pointer;
    border: 2px solid #ff7800 ;
}
