{% import 'form.twig' as form %}


<nav class="navbar navbar-light justify-content-between">
    {#    <a class="navbar-brand">Navbar</a>#}
    <a class="titleBrand" href="/">Cinemood </a>
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
    <div class="navbar" id="navbarNavAltMarkup">
            <a class="nav-item nav-link active" href="home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Catégorie</a>
            {% if app.session.user  %}
                <a class="nav-item nav-link" href="dashboard">Dashboard</a>
            {% else %}
                <a class="nav-item nav-link" href="register">S'inscrire</a>
            {% endif %}
    </div>
    {% if app.session.user  %}
        <form class="form-inline deconnexion" method="POST" action="deconnexion">
            <div>
                <span>{{ app.session.user.pseudo }}</span>
                <a href="dashboard"><i class="far fa-fw fa-user nwl_orange"></i></a>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="deconnexion">déconnexion</button>
        </form>
    {% else %}

            <form class="form-inline" method="POST" action="login">
                {{ form.input_placeholder('email_or_pseudo', {'class' : 'col-xs', 'placeholder' : 'E-mail ou pseudo'}) }}
                {{ form.input_placeholder('password', {'class' : 'col-xs', 'placeholder' : 'Mot de passe', 'type':'password'}) }}

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="confirm_login">Login</button>
            </form>
    {% endif %}

</nav>

