{% extends 'layout.twig' %}

{% block test %}
echo phpinfo()
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1><?=$pageTitle?></h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <img src="" class="randomMovie un">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="" class="randomMovie deux">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="" class="randomMovie trois">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->
{% endblock %}

{% block javascripts %}
{#    <script src="{{ asset('PathDuFichier/tonFichier.js') }}"></script>#}
{#    <script src="Ton_URL"></script>#}
    <script src="Public/js/ajax.js"></script>
    <script src="Public/js/MovieDbManager.js"></script>
    <script type="text/javascript">
        // var randomMovieArray = ['Star Wars', 'Ghost Busters', 'Harry Potter', 'Wanted'];
        //
        // function apiCall() {
        //     var randomNumber = Math.floor((Math.random() * randomMovieArray.length - 1)+1)
        //     var randomMovie = randomMovieArray[randomNumber];
        //     console.log(randomNumber);
        //     console.log(randomMovie);
        //     $.getJSON('http://www.omdbapi.com/?apikey=7a68b075&t=' + encodeURI(randomMovie)).then(function(response){
        //         console.log(response);
        //         var image = response.Poster;
        //
        //         if(image !=="N/A"){
        //             $('img.un').attr('src', image);
        //         }
        //     });
        // }
        //
        // apiCall();
        //
        // var randomNumber2 = Math.floor((Math.random() * randomMovieArray.length - 1)+1)
        // console.log(randomNumber2);
        // var randomMovie2 = randomMovieArray[randomNumber2];
        // function apiCall2() {
        //     // console.log(randomMovie);
        //     $.getJSON('http://www.omdbapi.com/?apikey=7a68b075&t=' + encodeURI(randomMovie2)).then(function(response){
        //         console.log(response);
        //         var image = response.Poster;
        //
        //         if(image !=="N/A"){
        //             $('img.deux').attr('src', image);
        //         }
        //     });
        // }
        //
        //
        // ajaxGet("http://www.omdbapi.com/?apikey=7a68b075&t=" + encodeURI(randomMovie2), apiCall2);

    </script>
{% endblock %}