{% extends 'layout.twig' %}
{% import 'form.twig' as form %}

{% block content %}

    <h2>Inscrivez-vous</h2>

    <form method="POST" action="" class="basicForms" >
        {{ form.input_placeholder('email', {'label' : 'Votre E-mail', 'placeholder' : 'monmail@qch.com'}) }}

        {{ form.input_placeholder('pseudo', {'label' : 'Votre Pseudo', 'placeholder' : 'pseudo'}) }}

        {{ form.input_placeholder('password', {'label' : 'Votre Mot de passe', 'type' : 'password', 'placeholder' : '********'}) }}

        {{ form.input_placeholder('confirm_password', {'label' : 'Confirmez votre mot de passe', 'type' : 'password', 'placeholder' : '********'}) }}

        <div class="nwl_submit_btn">
            <button class="btn btn-primary" type="submit" name="confirm_register">S'inscrire</button>
        </div>

    </form>
{% endblock %}


{% block javascripts %}
{% endblock %}